.one {
    width: 60vw !important;
    height: 50vh !important;
    top: 0 !important;
    transform: translateX(-60%) translateY(-50%) !important;
    left: 0 !important;
}

.two {
    width: 60vw !important;
    height: 50vh !important;
    top: 0 !important;
    transform: translateX(40%) translateY(-50%) !important;
    right: 0 !important;
}

.first {
    position: relative !important;
    height: auto !important;
    padding-top: 100px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: calc(100% - 200px);
    position: relative;
    left: calc(50% - 100px);
    transform: translateX(-50%);
    color: #18181B;
    height: auto;
}

.item {
    width: 100%;
    height: 100%;
    background-color: var(--blur-bg-color);
    display: grid;
    grid-template-rows: calc(100% - 100px) 100px;
    margin: 0;
    padding: 0;
    gap: 0;
    border-radius: 15px;
    border: var(--light-color) solid 0.2px;
}

.item .img {
    width: calc(100% - 20px);
    height: calc(100% - 15px);
    background-color: #18181B;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-color-alt);
    border-radius: 10px;
    border: var(--light-color) solid 0.2px;
    overflow: hidden;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: saturate(0);
    transition: all 0.3s ease;
}

.item:hover img {
    filter: saturate(1);
}

.item .title-item {
    width: calc(100% - 50px);
    height: calc(100% - 15px);
    position: relative;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 20px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    background-color: var(--bg-color-alt);
    border-radius: 10px;
    border: var(--light-color) solid 0.2px;
}

.button {
    display: flex;
    align-self: center;
}

/* Styles pour la popup */
.popup {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease;
}


/* Contenu de la popup */
.popup-content {
    background-color: var(--bg-color-alt);
    border-radius: 20px 0 0 20px;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: var(--light-color) solid 0.2px;
    max-height: calc(100vh - 50px);
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Bouton de fermeture */
.close {
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 5px;
}

.close i {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-header {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.title-popup {
    font-size: 3em;
    font-weight: 600;
    color: var(--main-color);
    margin-top: 10px;
    margin-left: 20px;
}

.description-popup {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--main-color);
    margin-top: -10px;
    margin-left: 20px;
}

.images-popup img {
    border-radius: 10px;
    border: var(--main-color) solid 0.2px;
    padding: 0;
    margin: 5px;
    max-width: calc(100% - 10px);
    height: auto;
    margin-top: 10px;
}

.images-popup {
    padding: 10px;
    max-height: 500px;
    overflow: auto;
    overflow-x: hidden;
    pointer-events: all;
}

.popup-content::-webkit-scrollbar,
.images-popup::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 10px 10px 0;
}

.popup-content::-webkit-scrollbar-thumb,
.images-popup::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
}

.popup-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.tag-contener {
    height: 0px !important;
    max-width: calc(100% - 10px) !important;
    background-color: red !important;
    margin: 0px;
    margin-left: 15px;
    padding: 0px;
    margin-bottom: 40px;
}

@media (max-width: 1000px) {
    .project-container {
        width: calc(100% - 100px);
        left: calc(50% - 50px);
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .project-container {
        width: calc(100% - 10px) !important;
        margin: 0;
        padding: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .title-item {
        font-size: 0.9em !important;
    }

    .item .title-item {
        width: calc(100% - 30px);
        padding: 0 5px 0 10px;
    }

    .description-popup {
        font-size: 1em;
    }

    .popup-content {
        width: 90%;
    }

    .first {
        overflow: hidden;
        padding-bottom: 300px;
    }

    .first .title {
        margin-top: -20px;
        margin-bottom: -150px;
    }

    .title-popup {
        margin-top: 60px;
    }
}

.no-scroll {
    overflow: hidden !important;
    height: 100vh !important;
}