.one {
    width: 60vw !important;
    height: 50vh !important;
    bottom: 0 !important;
    transform: translateX(-60%) translateY(50%) !important;
    left: 0 !important;
}

.two {
    width: 60vw !important;
    height: 50vh !important;
    top: 0 !important;
    transform: translateX(40%) translateY(-50%) !important;
    right: 0 !important;
}

.first {
    position: relative !important;
}

.body {
    height:auto !important;
    width: 100vw !important;
    overflow: hidden !important;
    position: relative !important;
    padding-bottom: 50px !important;
}
